<%- include('components/head') %>
<body>
    <div class="error-container">
        <h1>404</h1>
        <p>Lo sentimos, la página que buscas no existe.</p>
        <a href="/">Volver al inicio</a>
      </div>
</body>
</html>