<%- include('components/head') %>
<body>
    <%- include('components/header') %>
    <div class="login-container">
        <form class="login-form" action="/login" method="POST">
            <h2>Iniciar sesión</h2>
            <input type="email" name="email" placeholder="Correo electrónico" required />
            <input type="password" name="password" placeholder="Contraseña" required />
            <button type="submit">Entrar</button>
            <p><br></p>
            <p>¿No tienes cuenta? <a href="/register">Regístrate aquí</a></p>
        </form>
    </div>
</body>
</html>